fire==0.4.0
termcolor==1.1.0
pipreqs==0.4.11
art==5.5
aicrowd-cli
dm-tree==0.1.6
gym==0.21.0
matplotlib==3.5.1
numpy==1.22.3
openskill==1.0.2
pandas==1.4.1
scipy==1.8.0
torch==1.10.0
tensorflow==2.8.0
ray[rllib]==1.10.0
nmmo==1.5.3.17a8
https://gitlab.aicrowd.com/henryz/ijcai2022nmmo/-/archive/v0.2.14/ijcai2022nmmo-v0.2.14.tar.gz
supersuit==3.3.5
torch==1.10.0


